	body {
	  min-height: auto;
	  padding-top: 3.5rem;
	}  
	.padding-0{
		padding-right:0;
		padding-left:0;
	}	

	.styled-table {
		border-collapse: collapse;
		margin: 25px 0;
		font-size: 0.9em;
		font-family: sans-serif;
		min-width: 400px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	}
	
	@media print {
	  body * {
		visibility: hidden;
	  }
	  #section-to-print, #section-to-print * {
		visibility: visible;
	  }
	  #section-to-print {
		position: absolute;
		left: 0;
		top: 0;
	  }
	     .no-print{
               display : none !important;
                }
	}